<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<!--<add key="f1" value="C:\Bogdan\Workfolder\tasks\Test Downloaded\G711M u-Law.WAV"/>
		<add key="f2" value="C:\Bogdan\Workfolder\tasks\Test Downloaded\decScn.scn"/>-->
		<add key="f3" value="C:\Bogdan\Workfolder\tasks\Test Downloaded\2016101302172730609061484385502201.avi"/>
	</appSettings>
</configuration>