<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<!--<add key="f1" value="F:\Distr\Interactions\G711M u-Law.WAV"/>-->
		<!--<add key="f2" value="C:\Bogdan\Workfolder\tasks\Test Downloaded\decScn.scn"/>-->
		<add key="f3" value="F:\Distr\Interactions\2016101919312339601397088885502201.avi"/>
		<!--<add key="f4" value="C:\Bogdan\Workfolder\tasks\Test Downloaded\example.wma" />-->
	</appSettings>
</configuration>